@import "base/base";
@import "fonts.css";


body {
	width: 320px;
	margin: 0 auto;
}

header {
	width: 320px;
	margin: 0 auto;
}

.header__information_text {
	text-align: center;
	font-family: Roboto;

	font-size: 19px;
	font-style: normal;
	font-weight: 300;
	line-height: 25px;
}

h4 {
	width: 242px;
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.header__button_box {
	width: 280px;
	height: 40px;
	border-radius: 20px;
	background-color: #FF4E50;
	margin-top: 27px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.header__box {
	position: relative;
	display: flex;
	justify-content: center;
}

.header__box {

	img {
		position: relative;
		object-fit: cover;
		width: 320px;
		height: 550px;
		background-color: #D1D0CD;
		opacity: 0.8;
	}

	.nav {
		position: absolute;
		width: 153px;
		height: 36px;
		top: 20px;
		left: 84px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.nav__text {
			color: white;
			font-family: Montserrat, sans-serif;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}

		.nav__button {
			width: 90px;
			height: 36px;
			border: 2px solid white;
			border-radius: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	h3 {
		position: absolute;
		top: 155px;
		left: 90px;
		font-family: Montserrat;
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		color: #FFFFFF;
	}

	.header__information {
		position: absolute;
		width: 280px;
		top: 157px;
		left: 20px;
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h1 {
			text-align: center;
			margin-top: 48px;

			font-family: Montserrat;
			font-size: 30px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
		}

		.header__information_text {
			width: 260px;
			margin-top: 7px;
		}

		.header__button_box {
			width: 280px;
			height: 40px;
			border-radius: 20px;
			background-color: #FF4E50;
			margin-top: 16px;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;

			h4 {
				color: white;
			}
		}
	}
}

main {
	padding-left: 10px;
	padding-right: 10px;
}

h2 {
	margin-top: 22px;
	margin-bottom: 17px;

	color: #444;
	text-align: center;
	font-family: Montserrat;
	font-size: 22px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.dreamshare__text-2 {
	font-family: Roboto;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 14px;
}


.dreamshare__container {
	position: relative;
	width: 300px;
	height: 240px;
	margin-bottom: 10px;
	color: white;

	img {
		width: 300px;
		height: 240px;
	}

	.dreamshare__box {
		position: absolute;
		width: 250px;
		height: 130px;
		top: 64px;
		left: 20px;

		.dreamshare__button {
			width: 70px;
			height: 20px;
			border-radius: 10px;
			background-color: #FF4E50;
			display: flex;
			justify-content: center;
			align-items: center;

			.dreamshare__button_text {
				font-family: Montserrat;
				font-size: 10px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				letter-spacing: 2px;
				color: white;
			}
		}

		.dreamshare__text {
			font-family: Montserrat;
			font-size: 24px;
			font-style: normal;
			font-weight: 700;
			line-height: 15px;
			margin-top: 45px;
		}

		.dreamshare__text-2 {
			margin-top: 23px;
		}
	}

	.dreamshare__box_center {
		top: 97px;

		.dreamshare__text_center {
			margin-top: 28px;
		}

		.dreamshare__text-2_center {
			margin-top: 22px;
		}
	}
}


.h2-2 {
	margin-top: 35px;
	margin-bottom: -23px;
}

.partner-for-holiday {
	width: 236px;
	margin: 36px auto;

	.partner-container__box {
		width: 236px;
		margin: 17px auto;

		.partner-container__img-box {
			position: relative;
			width: 124px;
			height: 124px;
			margin: auto;

			.partner-container__img {
				width: 124px;
				height: 124px;
				border-radius: 62px;
				margin: auto;
			}
		}

		.partner-container__img-box-mini {
			position: absolute;
			top: 90px;
			left: 90px;
			width: 32px;
			height: 32px;
			border-radius: 16px;
			display: flex;
			box-shadow: 2px 2px 2px 7px white;

			img {
				width: 16px;
				height: 16px;
				margin: auto;
			}
		}

		h4 {
			margin-top: 16px;
			text-align: center;
		}

		.dreamshare__text-2 {
			margin-top: 21px;
			text-align: center;
		}
	}

	.background-5-5 {
		background-color: #FF4E50;
	}

	.background-6-6 {
		background-color: #FFA710;
	}

	.background-7-7 {
		background-color: #19D4CA;
	}

	.background-8-8 {
		background-color: #667DF3;
	}

	.header__button_box {
		width: 240px;
		border: 2px solid #FF4E50;
		background-color: #FFFFFF;
		margin-top: 36px;

		.header__button_text {
			width: 230px;
			color: #FF4E50;
			background-color: initial;
		}
	}
}



.h2-3 {
	width: 280px;
	margin: 33px auto;
}

.discover {

	.discover__box {
		position: relative;
		width: 300px;
		height: 120px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 10px;

		img {
			object-fit: cover;
			width: 300px;
			height: 120px;
		}

		h2 {
			width: 200px;
			position: absolute;
			color: #FFFFFF;
		}
	}

	.discover__box_big {
		h2 {
			width: 300px;
		}
	}

}



	.form-container__name {
		margin-top: 34px;
	}

.form-container {
	width: 280px;
	margin: -8px auto;

	h2 {
		width: 200px;
		margin: 9px auto;
	}

	p {
		display: flex;
		width: 280px;
		height: 24px;
		flex-direction: column;
		justify-content: flex-end;
		margin-top: 9px;

		color: #666;
		font-family: Roboto, sans-serif;
		font-size: 18px;
		font-style: normal;
		font-weight: 300;
		line-height: 14px;
	}

		input {
			width: 280px;
			height: 40px;
			border: 1px solid #D4D4D4;
			padding-left: 10px;
			margin-top: 15px;
		}

		button {
			color: #FFFFFF;
			margin-top: 10px;
			margin-bottom: 51px;

			.form-button__text {
				font-family: Montserrat;
				font-size: 14px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			}
		}
}

hr {
	width: 100%;
	height: 2px;
	background-color: #FF4E50;
	margin-top: -11px;
}


footer {
	width: 320px;
	padding: 20px;
	text-align: center;

	.footer-box__logo {
		color: #FF4E50;
		font-family: Montserrat;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	.footer-menu__company {
		color: #444;
		text-align: center;
		font-family: Montserrat;
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		margin-top: 13px;
	}

	.footer-nav {
		margin: 0 auto;
		width: 200px;
		text-align: center;
		font-family: Roboto;
		font-size: 14px;
		font-style: normal;
		font-weight: 300;
		line-height: 26px;

		a {
			margin-left: 5px;
			margin-right: 5px;
			color: #999;
		}
	}

	.footer-box__partners {
		color: #444;
		text-align: center;
		font-family: Montserrat;
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		margin-top: 6px;
	}

	.footer-box__designed {
		color: #CCC;
		font-family: Montserrat;
		font-size: 10px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 1px;
		margin-top: 14px;
	}

	img {
		margin-top: 7px;
		width: 110px;
		height: 24px;
	}
}



	@media screen and (min-width: 768px) and (max-width: 1339px) {

		body {
			width: 768px;
		}

		header {
			width: 768px;
		}

		.header__information_text {
			font-size: 24px;
		}

		.header__button_box {
			width: 225px;
		}

		.header__box {
			img {
				position: relative;
				object-fit: cover;
				width: 768px;
				height: 700px;
			}

			h3 {
				top: 46px;
				left: 48px;
			}

			.nav {
				top: 39px;
				left: 568px;
			}

			.header__information {
				width: 470px;
				top: 218px;
				left: 149px;


				h1 {
					width: 470px;
					color: #FFF;
					text-align: center;
					font-family: Montserrat;
					font-size: 52px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
					margin-top: 5px;
				}

				.header__information_text {
					width: 396px;
					margin-top: 29px;
				}

				.header__button_box {
					width: 225px;
					margin-top: 33px;
				}
			}
		}



		.h2-1 {
			margin-top: 94px;
		}

		.dreamshare {
			margin: 35px auto;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		.dreamshare__container {
			width: 236px;
			height: 400px;

			img {
				width: 236px;
				height: 400px;
				object-fit: cover;
			}

			.dreamshare__box {
				width: 236px;
				margin-top: 140px;

				.dreamshare__text-2 {
					width: 187px;
					margin-top: 29px;
				}
			}

			.dreamshare__box_center {
				margin-top: 159px;

				.dreamshare__text_center {
					width: 150px;
					margin-top: 13px;
				}

				.dreamshare__text-2_center {
					margin-top: 23px;
				}
			}
		}

		.h2-2 {
			margin-top: 84px;
		}

		.partner-for-holiday {
			width: 513px;
			display: flex;
			flex-wrap: wrap;

			.partner-container__box {
				margin-top: 21px;
			}

			.header__button_box {
				width: 180px;
				margin: 23px auto;

				h4 {
					width: 150px;
					margin: auto;
				}
			}
		}


		.h2-3 {
			width: 500px;
			margin-top: 71px;
			margin-bottom: 35px;
		}

		.discover {

			.discover-container {
				width: 748px;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				.discover__box {
					width: 236px;
					height: 310px;
					margin-bottom: 19px;

					img {
						width: 236px;
						height: 310px;
					}
				}

				.discover__box_big {
					width: 492px;
					height: 310px;

					img {
						width: 492px;
						height: 310px;
					}
				}
			}

			.form-container__name {
				margin-top: 78px;
			}

			.form-container {
				width: 482px;
				height: 158px;
				margin: auto;
				margin-top: 43px;

				p {
					margin: auto;
					text-align: center;
				}

				.form-container__box {
					display: flex;
					justify-content: space-between;
					margin-top: 10px;

					input {
							width: 299px;
					}

					.header__button_box {
						width: 172px;
						margin-top: 15px;
					}
				}
			}
		}


		footer {
			width: 768px;
			padding: 40px 40px 20px 40px;
			text-align: left;

			.footer-box {
				width: 688px;
				display: flex;
				justify-content: space-between;

				.footer-box__logo {
					margin-top: -3px;
				}

				.footer-nav {
					margin-top: 12px;
					margin-left: -6px;
					width: 124px;
					display: flex;
					flex-direction: column;
					text-align: start;
				}

				.footer-menu {
					display: flex;
					flex-direction: column;
					justify-content: start;
					margin-top: -2px;
					margin-left: -13px;

					.footer-menu__company {
						margin-top: 0;
						text-align: left;
					}
				}

				.footer-box__partners {
					margin-top: -2px;
					margin-left: -66px;
				}

				.footer-box__designed {
					text-align: end;
					margin-top: -6px;

					.footer-box__name {
						margin-top: 5px;

						color: #CCC;
						font-family: Montserrat;
						font-size: 10px;
						font-style: normal;
						font-weight: 700;
						line-height: normal;
						letter-spacing: 1px;
					}
				}
			}
		}
	}






		@media screen and (min-width: 1340px) {

			body {
				width: 1440px;
			}

			header {
				width: 1440px;
			}

			.header__information_text {
				font-size: 24px;
			}

			.header__button_box {
				width: 225px;
			}

			.header__box {
				img {
					position: relative;
					object-fit: cover;
					width: 1440px;
					height: 700px;
				}

				h3 {
					top: 47px;
					left: 247px;
				}

				.nav {
					top: 41px;
					left: 995px;
				}

				.header__information {
					width: 470px;
					top: 217px;
					left: 485px;


					h1 {
						width: 470px;
						color: #FFF;
						text-align: center;
						font-family: Montserrat;
						font-size: 52px;
						font-style: normal;
						font-weight: 700;
						line-height: normal;
						margin-top: 5px;
					}

					.header__information_text {
						width: 396px;
						margin-top: 28px;
					}

					.header__button_box {
						width: 225px;
						margin-top: 36px;
					}
				}
			}


			.h2-1 {
				margin-top: 89px;
				margin-bottom: 37px;
				font-size: 26px;
			}


			.dreamshare {
				width: 940px;
				margin: 0 auto;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}

			.dreamshare__container {
				width: 300px;
				height: 400px;

				img {
					width: 300px;
					height: 400px;
					object-fit: cover;
				}

				.dreamshare__box {
					width: 236px;
					margin-top: 155px;
					left: 23px;

					.dreamshare__text {
						margin-top: 22px;
						line-height: 26px;
					}
				}

				.dreamshare__box_center {

					.dreamshare__text-2_center {
						margin-top: 16px;
					}
				}
			}

			.h2-2 {
				font-size: 26px;
				margin-top: 78px;
				margin-bottom: -21px;
			}

			.partner-for-holiday {
				width: 960px;
				display: flex;
				flex-wrap: wrap;

				.partner-container__box {
					width: 221px;
					justify-content: flex-start;

					h4 {
						width: 222px;
					}

					.dreamshare__text-2 {
						margin-top: 26px;
					}
				}

				.partner-container__box_1 {
					order: 0;
				}

				.partner-container__box_2 {
					order: 3;
				}

				.partner-container__box_3 {
					order: 2;
				}

				.partner-container__box_4 {
					order: 4;
				}


				.header__button_box {
					width: 180px;
					margin: 21px auto;
					order: 5;

					h4 {
						width: 140px;
						margin: auto;
					}
				}
			}


			.h2-3 {
				width: 440px;
				margin-top: 69px;
				margin-bottom: 34px;
				font-size: 26px;
			}

			.discover {

				.discover-container {
					margin: auto;
					width: 940px;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;

					.discover__box {
						width: 300px;
						height: 310px;
						margin-bottom: 20px;

						h2 {
							width: 350px;
						}

						img {
							width: 300px;
							height: 310px;
						}
					}

					.discover__box_big {
						width: 620px;
						height: 310px;

						img {
							width: 620px;
							height: 310px;
						}
					}
				}

				.form-container__name {
					margin-top: 73px;
					font-size: 26px;
				}

				.form-container {
					width: 482px;
					height: 158px;
					margin: auto;
					margin-top: 41px;
					margin-bottom: 41px;

					p {
						margin: auto;
						text-align: center;
					}

					.form-container__box {
						display: flex;
						justify-content: space-between;
						margin-top: 13px;

						input {
							width: 299px;
						}

						.form-button__text {
							width: 172px;
							margin-top: 13px;
						}
					}
				}
			}

			footer {
				width: 1440px;
				padding: 40px 250px 20px 250px;
				text-align: left;

				.footer-box {
					width: 940px;
					display: flex;
					justify-content: space-between;

					.footer-box__logo {
						margin-top: -2px;
					}

					.footer-nav {
						margin-left: -4px;
						margin-top: 11px;
						width: 130px;
						display: flex;
						flex-direction: column;
						text-align: start;
					}

					.footer-menu {
						margin-left: -174px;


						.footer-menu__company {
							margin-top: 0;
							text-align: left;
						}
					}

					.footer-box__partners {
						margin-top: 0;
						margin-left: -176px;
					}

					.footer-box__designed {
						text-align: end;
						margin-top: 0;
					}
				}
			}
		}

